:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-lightest: #000000;
}

:root footer {
  --ifm-footer-color: #000000;
  --ifm-footer-link-color: #000000;
  --ifm-footer-link-color: #000000;
  --ifm-footer-title-color: #000000;
  --ifm-footer-title-color: #000000;
  --ifm-footer-background-color: #f0f0f0;
}

html[data-theme='dark'] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #d9d9d9;
  --ifm-color-primary-darkest: #b3b3b3;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-navbar-background-color: #0a0a0a;
  --ifm-background-color: #0a0a0a;
}

html[data-theme='dark'] footer {
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-footer-title-color: #ffffff;
  --ifm-footer-title-color: #ffffff;
  --ifm-footer-background-color: #121212;
}